name: CI - Pull Request
run-name: CI - Pull Request pipeline triggered by ${{ github.actor }}

on:
  # A pull request is opened, reopened, or when the head branch of the pull request is updated.
  pull_request:
    # Ignore when updating only documentation files.
    paths-ignore:
      - '**.md'
      - '**.gotmpl'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Point of View
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.modified_files }}
        run: |
          echo "Changed files: $CHANGED_FILES"

      - name: ADF - Helm lint & render check
        if: contains(steps.changed-files.outputs.modified_files, 'adf')
        working-directory: ./adf
        run: |
          helm lint --strict .
          helm template . > output.yaml --debug

      - name: GraphViews - Helm lint & render check
        if: contains(steps.changed-files.outputs.modified_files, 'graphviews')
        working-directory: ./graphviews
        run: |
          helm lint --strict .
          helm template . > output.yaml --debug

      - name: Mirror App - Helm lint & render check
        if: contains(steps.changed-files.outputs.modified_files, 'mirror-app')
        working-directory: ./mirror-app
        run: |
          helm lint --strict .
          helm template . > output.yaml --debug

      - name: PoolParty - Helm lint & render check
        if: contains(steps.changed-files.outputs.modified_files, 'poolparty')
        working-directory: ./poolparty
        run: |
          helm lint --strict .
          helm template . > output.yaml --debug

      - name: Semantic Workbench - Helm lint & render check
        if: contains(steps.changed-files.outputs.modified_files, 'workbench')
        working-directory: ./workbench
        run: |
          helm lint --strict .
          helm template . > output.yaml --debug
